 
body {
	background-color: black;
	margin: 0px auto;
}
h1.faded {
	text-align: center;
	font-family: 'Playfair Display', serif;
	color: rgba(255, 255, 255, 0.8);
	text-decoration: underline;
}
hr{
	color: white;
}
img.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	box-shadow: 0 8px 6px -6px white;
}
.clear{
	text-align: center;
	position: relative;
	top: 3px;
}
.bnt-primary{
	background-color: #F05F44;
	border-color: #F05F44;
}

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 5px;
  cursor: pointer;

